apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: backend-tests-go-tbbqkvka
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: quay.io/rhtap_qe/backend-tests-go-tbbqkvka:17011f4b77ea5974f0e411706aba8cb0588f092e@sha256:b39af04eeeeb4b09814ee17a8a2ac096c130e15c3a025d497d0a1f99c52e1853
          name: container-image
